[Desktop Entry]
Name=Timer App
Comment=A simple timer application
Exec=python /home/stevendejong/workspace/personal/gtk-timer/main.py
Icon=clock
Type=Application
Categories=Utility;
Terminal=false
